--extra-index-url https://download.pytorch.org/whl/torch_stable.html
ipdb~=0.13.9
pytorch_lightning~=1.7.5
tensorboard~=2.10.0
torchvision~=0.13.1
tensorflow_gpu~=2.10.0
torch~=1.12.1
torchmetrics~=0.9.3
