--extra-index-url https://download.pytorch.org/whl/torch_stable.html
numpy~=1.24.2
torchvision~=0.13.1
torch~=1.12.1
tensorflow_gpu~=2.10.0
PyYAML~=6.0
tensorflow_datasets~=4.6.0
huggingface_hub~=0.10.1
wandb~=0.12.21
webdataset~=0.1.103
